<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Prueba PID</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container">
              <div>
                <a class="navbar-brand" href="#"><img class="" src="../images/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link text-white active" aria-current="page" href="#">HOME</a>
                  <a class="nav-link text-white" href="#">ABOUT</a>
                  <a class="nav-link text-white" href="#">SERVICES</a>
                  <a class="nav-link text-white" href="#">PROJECTS</a>
                  <a class="nav-link text-white" href="#">BLOG</a>
                  <a class="nav-link text-white" href="#">CONTACT</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <section id="carrusel">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div id="slide1" class="carousel-item active">
            <img src="../images/carrusel/slide1.jpg" class="d-block w-100" alt="slide1">
          </div>
          <div id="slide2" class="carousel-item">
            <img src="../images/carrusel/slide2.jpg" class="d-block w-100" alt="slide2">
          </div>
          <div id="slide3" class="carousel-item">
            <img src="../images/carrusel/slide3.jpg" class="d-block w-100" alt="slide3">
          </div>
        </div>
      </div>
    </section>
    <section id="contenido" class="container">


      <section id="galeria" class="my-4">
        <div class="row">
            <div class="col-12 col-sm-4">
              <h3 class="text-white">FRESH</h3>
              <img class="img-thumbnail" src="../images/servicios/servicio1.jpg" alt="">
              <p class="texto-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis,</p>
              <a href="">MORE</a>
            </div>
            <div class="col-12 col-sm-4">
              <h3 class="text-white">CREATIVE</h3>
                <img class="img-thumbnail" src="../images/servicios/servicio2.jpg" alt="">
                <p class="texto-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis,</p>
                <a href="">MORE</a>
            </div>
            <div class="col-12 col-sm-4">
              <h3 class="text-white">SMART</h3>
                <img class="img-thumbnail" src="../images/servicios/servicio3.jpg" alt="">
                <p class="texto-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis,</p>
                <a href="">MORE</a>
            </div>
        </div>
      </section>

      <section id="portfolio" class="my-4 py-4">
        <div class="row">
          <div class="col-12 col-sm-8">
            <h4 class="text-warning mb-3">HELLO! MY NAME IS SAM KROMSTAIN. THIS IS THE PHOTO SHOWCARE OF PERSONAL PORTFOLIO.</h4>
            <p class="texto-muted">Lorem ipsum dolor sit cotetue adiclit. Pellen tesque sed dolor. Aliqua ngue fermentum nisluris accuml diad in lacus ut enim adipiing aliqIn pdealiqt sit amet euism.</p>
          </div>
          <div class="col-12 col-sm-4 text-center d-flex justify-content-center align-items-center">
            <div class="p-5 text-bold circulo text-white">
              <span>
                HIRE ME NOW
              </span>
            </div>
          </div>
        </div>

      </section>
      
      <section id="servicios" class="row text-white my-5 ">
        <div class="col-12 col-sm-6 px-6">
          <div class="my-3 d-flex px-5">
            <i class="fa fa-camera me-2 mt-2"></i>
            <div>
              <h3>STUDIO PHOTOGRAPHY</h3>
              <p class="texto-muted">Donec hendrerit, felis in aliquet sodales, leo neque posuere arcu, sit amet sodales libero augue ege</p>
              <a href="">MORE</a>
            </div>
          </div>
          <div class="my-3 d-flex px-5">
            <i class="fa fa-briefcase me-2 mt-2"></i>
            <div>
              <h3>STREET SHOOTING</h3>
              <p class="texto-muted">Donec hendrerit, felis in aliquet sodales, leo neque posuere arcu, sit amet sodales libero augue ege</p>
              <a href="">MORE</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 px-5">
          <div class="my-3 d-flex pe-5">
            <i class="fa fa-heart me-2 mt-2"></i>
            <div>
              <h3>WEDDING</h3>
              <p class="texto-muted">Donec hendrerit, felis in aliquet sodales, leo neque posuere arcu, sit amet sodales libero augue ege</p>
              <a href="">MORE</a>
            </div>
          </div>
          <div class="my-3 d-flex pe-5">
            <i class="fa fa-child mx-2 mt-2"></i>
            <div>
              <h3>BABY PHOTOS</h3>
              <p class="texto-muted">Donec hendrerit, felis in aliquet sodales, leo neque posuere arcu, sit amet sodales libero augue ege</p>
              <a href="">MORE</a>
            </div>
          </div>
        </div>
      </section>
    </section>
    <footer class="p-4 text-white">
        <div class="row container">

          <div class="col-12 col-sm-3 offset-1">
            <h4 class="text-white">COPYRIGHT</h4>
            <span class="text-muted d-inline">PHOTOGRAPHER © 2023 •</span>
            <a class="d-inline" href=""> PRIVACY POLICY</a>
          </div>

          <div class="col-12 col-sm-3 offset-1">
            <h4 class="text-white mb-2">ABOUT</h4>
            <p class="text-muted">RAESENT <br> VESTIBULUESTILAUENEANONUYRERIT MAURIHASLUS PORTAUSCIPIT VARIUS MI. CUM SOCIIS NATOQE PENATIBUS ET MA.</p>
          </div>
          
          <div class="col-12 col-sm-3 offset-1">
            <h4 class="text-white">FOLLOW US</h4>
            <div id="redes-sociales">
              <i class="fa fa-twitter-square"></i>
              <i class="fa fa-facebook-official"></i>
              <i class="fa fa-google-plus-official"></i>
              <i class="fa fa-git-square"></i>
              <i class="fa fa-dribbble"></i>
            </div>
          </div>
        </div>
    </footer>
</body>
<script src="../js/bootstrap.min.js"></script>
</html>